name: Deploy RAG Frontend

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4

      # Configure AWS credentials
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      # Login to Amazon ECR
      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      # Build Docker image
      - name: Build Docker image
        run: |
          docker build -t rag-frontend .

      # Tag & push image to ECR
      - name: Push image to ECR
        run: |
          docker tag rag-frontend:latest 698031349183.dkr.ecr.us-east-1.amazonaws.com/rag-frontend:latest
          docker push 698031349183.dkr.ecr.us-east-1.amazonaws.com/rag-frontend:latest

      # Deploy on EC2
      - name: Deploy on EC2
        uses: appleboy/ssh-action@v0.1.5
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin 698031349183.dkr.ecr.us-east-1.amazonaws.com
            docker stop rag-frontend || true
            docker rm rag-frontend || true
            docker system prune -a -f --volumes || true
            docker pull 698031349183.dkr.ecr.us-east-1.amazonaws.com/rag-frontend:latest
            docker run -d --restart always -p 8501:8501 --name rag-frontend 698031349183.dkr.ecr.us-east-1.amazonaws.com/rag-frontend:latest
